<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="view-visit">
        <ion-icon name="calculator"></ion-icon>
        <ion-label>Ver Visitas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="new-visit">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>Nueva Visita</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="agendar">
        <ion-icon name="podium"></ion-icon>
        <ion-label>Agendar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
